<div class="row">
  <div class="col-12 col-md-4">
    <div class="card mb-5" [@productAnimation]>
      <img [src]="product.image" [alt]="product.title" class="card-img-top">

      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">Date: {{product.date}}</p>
        <p class="card-text">Price: {{product.convertedPrice | currency: product.currency: 'symbol'}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <ng-template #paymentForm>
      <form [formGroup]="form" (submit)="submitForm()" [@boxAnimation]>
        <!--Card type-->
        <div class="row">
          <div class="col-12 col-md-4 text-left text-md-right"><label for="cardType">Card Type</label></div>
          <div class="col-12 col-md-8">
            <ng-container *ngIf="cardTypes$ | async as cardTypes">
              <div class="form-group">
                <select id="cardType" formControlName="cardType" class="form-control"
                        [class.is-invalid]="cardType.invalid && cardType.touched">
                  <option [ngValue]="null" disabled>Select card types</option>
                  <option [ngValue]="cardType.id" *ngFor="let cardType of cardTypes">{{cardType.value}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="cardType.hasError('required') && cardType.touched">
                  Card type is required
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <!--Card number-->
        <div class="row">
          <div class="col-12 col-md-4 text-left text-md-right"><label>Card Number</label></div>
          <div class="col-12 col-md-8">
            <div class="form-group">
              <ng-container *ngIf="cardTypeMask$ | async as mask; else cardNumberWithoutMask">
                <app-input-text formControlName="cardNumber" [mask]="mask.mask" placeholder="Card number"
                                inputClass="form-control"></app-input-text>
              </ng-container>
              <ng-template #cardNumberWithoutMask>
                <app-input-text formControlName="cardNumber" placeholder="Card number"
                                inputClass="form-control"></app-input-text>
              </ng-template>
            </div>
          </div>
        </div>
        <!--Expiration Date-->
        <div class="row">
          <div class="col-12 col-md-4 text-left text-md-right"><label>Expiration Date</label></div>
          <div class="col-12 col-md-4">
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <app-input-text formControlName="expiry" [mask]="expiryPattern" placeholder="Expiration date"
                                  inputClass="form-control"></app-input-text>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Cardholder name-->
        <div class="row">
          <div class="col-12 col-md-4 text-left text-md-right"><label>Cardholder Name</label></div>
          <div class="col-12 col-md-8">
            <div class="form-group">
              <app-input-text formControlName="cardholderName" [mask]="cardHolderNamePattern"
                              placeholder="Cardholder name" inputClass="form-control"></app-input-text>
            </div>
          </div>
        </div>
        <!--Email-->
        <div class="row">
          <div class="col-12 col-md-4 text-left text-md-right"><label for="email">Email</label></div>
          <div class="col-12 col-md-8">
            <div class="form-group">
              <input type="text" id="email" formControlName="email" class="form-control"
                     [class.is-invalid]="email.invalid && email.touched" placeholder="Email">
              <div class="invalid-feedback" *ngIf="email.hasError('email') && email.touched">
                Invalid email address
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 text-left text-md-right"></div>
          <div class="col-12 col-md-4">
            <label class="form-group">
              <input type="radio" formControlName="paymentSucceeds" value="1"/> Payment succeeds
            </label>
          </div>
          <div class="col-12 col-md-4">
            <label class="form-group">
              <input type="radio" formControlName="paymentSucceeds" value=""/> Payment fails
            </label>
          </div>
        </div>
        <!--Submit-->
        <div class="row">
          <div class="col-12 col-md-4">
          </div>
          <div class="col-12 col-md-8">
            <button class="btn btn-block btn-primary" [disabled]="form.invalid || paymentProcessing">
              <ng-container *ngIf="paymentProcessing; else confirm">
                Processing your payment
                <i class="fa fa-circle-o-notch fa-spin ml-1"></i>
              </ng-container>
              <ng-template #confirm>Confirm payment</ng-template>
            </button>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-container *ngIf="paymentStatusResponse; else paymentForm">
      <div class="row position-absolute" style="width: 100%; top: 0" [@boxAnimation]>
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-8">
          <div class="card text-white"
               [ngClass]="{'bg-primary': paymentStatusResponse.responseCode === '00', 'bg-danger': paymentStatusResponse.responseCode === '01'}">
            <div class="card-header">Payment status</div>
            <div class="card-body">
              <h5 class="card-title">Message: {{paymentStatusResponse.responseMessage}}</h5>
              <p *ngIf="paymentStatusResponse.invoiceNo">Invoice: #{{paymentStatusResponse.invoiceNo}}</p>
              <p *ngIf="paymentStatusResponse.approvalCode">Approval Code: {{paymentStatusResponse.approvalCode}}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
