<div class="row">
  <div class="col-12 col-md-4">
    <div class="card mb-5" [@productAnimation]>
      <img [src]="product.image" [alt]="product.title" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">Date: {{product.date}}</p>
        <p class="card-text">Price: {{product.convertedPrice | currency: product.currency: 'symbol'}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <ng-template #paymentForm>
      <form [formGroup]="form" (submit)="submitForm()" [@boxAnimation]>
        <!--Card type-->
        <div class="row">
          <div class="col-12 col-md-4 text-left text-md-right"><label>Card Type</label></div>
          <div class="col-12 col-md-8">
            <ng-container *ngIf="cardTypes$ | async as cardTypes">
              <div class="form-group">
                <app-input-select [control]="cardType" [options]="cardTypes"></app-input-select>
              </div>
            </ng-container>
          </div>
        </div>
        <!--Card number-->
        <div class="row">
          <div class="col-12 col-md-4 text-left text-md-right"><label>Card Number</label></div>
          <div class="col-12 col-md-8">
            <div class="form-group">
              <ng-container *ngIf="cardTypeMask$ | async as mask; else cardNumberWithoutMask">
                <app-input-text [control]="cardNumber" [mask]="mask.mask" placeholder="Card number"
                                inputClass="form-control"></app-input-text>
              </ng-container>
              <ng-template #cardNumberWithoutMask>
                <app-input-text [control]="cardNumber" placeholder="Card number"
                                inputClass="form-control"></app-input-text>
              </ng-template>
            </div>
          </div>
        </div>
        <!--Expiration Date-->
        <div class="row">
          <div class="col-12 col-md-4 text-left text-md-right"><label>Expiration Date</label></div>
          <div class="col-12 col-md-4">
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <app-input-text [control]="expiry" [mask]="expiryPattern" placeholder="Expiration date"
                                  inputClass="form-control"></app-input-text>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Cardholder name-->
        <div class="row">
          <div class="col-12 col-md-4 text-left text-md-right"><label>Cardholder Name</label></div>
          <div class="col-12 col-md-8">
            <div class="form-group">
              <app-input-text [control]="cardHolderName" [mask]="cardHolderNamePattern"
                              placeholder="Cardholder name" inputClass="form-control"></app-input-text>
            </div>
          </div>
        </div>
        <!--Email-->
        <div class="row">
          <div class="col-12 col-md-4 text-left text-md-right"><label>Email</label></div>
          <div class="col-12 col-md-8">
            <div class="form-group">
              <app-input-text [control]="email" placeholder="Email" inputClass="form-control"></app-input-text>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 text-left text-md-right"></div>
          <div class="col-12 col-md-4">
            <label class="form-group">
              <input type="radio" formControlName="paymentShouldSucceed" value="1"/> Payment succeeds
            </label>
          </div>
          <div class="col-12 col-md-4">
            <label class="form-group">
              <input type="radio" formControlName="paymentShouldSucceed" value=""/> Payment fails
            </label>
          </div>
        </div>
        <!--Submit-->
        <div class="row">
          <div class="col-12 col-md-4">
          </div>
          <div class="col-12 col-md-8">
            <button class="btn btn-block btn-primary" [disabled]="form.invalid || paymentProcessing">
              <ng-container *ngIf="paymentProcessing; else confirm">
                Processing your payment
                <i class="fa fa-circle-o-notch fa-spin ml-1"></i>
              </ng-container>
              <ng-template #confirm>Confirm payment</ng-template>
            </button>
          </div>
        </div>
      </form>
    </ng-template>
    <ng-container *ngIf="paymentStatusResponse; else paymentForm">
      <div class="row position-absolute" style="width: 100%; top: 0" [@boxAnimation]>
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-8">
          <app-payment-result [paymentStatusResponse]="paymentStatusResponse"></app-payment-result>
        </div>
      </div>
    </ng-container>
  </div>
</div>
