<input
  #input
  [placeholder]="placeholder"
  [type]="type"
  [class]="inputClass"
  (keyup)="keyUpEvent($event)"
  (blur)="blurEvent($event)"
  [class.is-invalid]="control.invalid && control.touched"
>
<ng-container *ngIf="listOfErrors as errors">
  <ul class="invalid-feedback m-0 p-0 pt-2" *ngIf="errors.length && control.touched">
    <li class="d-block" *ngFor="let error of errors">{{error}}</li>
  </ul>
</ng-container>

<!-- This input is here to avoid generating transformed value from mask -->
<input type="hidden" [formControl]="control">
